.wd-search-field {
    border-radius: 40px;
    background-color: #202327;
    color: white;
    height: 45px;
    border: 0;
    font-size: 16px;
    padding-left: 30px;
    width: 92%;
}

.wd-search-field:focus {
    border: 1px solid white;
}

.wd-top-link {
    font-size: 30px;
    color: #1D9BF0;
    text-decoration: none;
    padding: 2px 5px;
}

.wd-top-link:hover {
    background-color: #565B60;
    border-radius: 50%;
    border: 0;
}

.wd-top-link:visited {
    color: #1D9BF0;
    text-decoration: none;
}

.wd-search-field::placeholder {
    color: #565B60;
    font-size: 16px;
}

.wd-top-links {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.wd-link {
    padding: 16px 0;
    margin: 0 16px;
    font-size: 15px;
    font-weight: bold;
}

.wd-link-highlighted {
    color: rgb(29, 161, 242);
    border-bottom: 5px solid rgb(29, 161, 242);
}

.wd-link-not-highlighted {
    color: rgb(110, 118, 125);
}

.wd-post {
    padding: 16px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

.wd-gray-note {
    color: rgb(110, 118, 125);
    margin: 5px;
    font-size: 13px;
}

.wd-white-headline {
    color: white;
    margin: 5px;
    font-weight: bolder;
    font-size: 16px;
}

.wd-white-author {
    color: white;
    margin: 5px;
    font-size: 13px;
    font-weight: bold;
}

.wd-d-type-post {
    display: flex;
}

.wd-d-type-post-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wd-image {
    height: 100px;
    width: 100px;
    border-radius: 5px;
}